.titleStyle1 {
    margin-top: 0%;
    font-size: 250%;
    color: #FDFDFD;
    text-shadow: 2px 2px 2px #222;
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
}

.titleDivStyle1 {
    background-color: #F9CC88;
    width: 22%; 
    margin-left: auto; 
    margin-right: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 0.4%;
}